<p id="notice"><%= notice %></p>

<p><%= image_tag @project.avatar.url(:thumb) %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Since:</strong>
  <%= @project.startdate %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
